global
    maxconn 100000
    nbthread 4
    tune.bufsize 65536
    tune.maxrewrite 1024

defaults
    mode tcp
    timeout connect 500ms
    timeout client 10s
    timeout server 10s
    timeout queue 100ms
    option tcpka

frontend webhook_front
    bind :80
    mode tcp
    maxconn 50000
    bind :80 backlog 10000
    default_backend webhook_back

backend webhook_back
    mode tcp
    balance leastconn
    retries 1
    option redispatch
    
    server app1 127.0.0.1:3000 check inter 500 rise 2 fall 3 weight 100 maxconn 2000
    server app2 127.0.0.1:3001 check inter 500 rise 2 fall 3 weight 100 maxconn 2000
    server app3 127.0.0.1:3002 check inter 500 rise 2 fall 3 weight 100 maxconn 2000
    server app4 127.0.0.1:3003 check inter 500 rise 2 fall 3 weight 100 maxconn 2000
    server app5 127.0.0.1:3004 check inter 500 rise 2 fall 3 weight 100 maxconn 2000
